@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');


@tailwind  base;
@tailwind components;
@tailwind utilities;

/* Dark scrollbar styling */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* dark track */
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* dark gray thumb */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #0a0a0a;
}

.prose pre {
  @apply rounded-xl bg-zinc-950 border border-neutral-800 p-4;
}


